{% extends "base_generic.html" %}

{% block content %}
    <h1>{{ blogpost.title }}</h1>
    <h4>Description:</h4><p class="breakline">{{ blogpost.description }}</p>
    <a href="{{ blogpost.author.get_absolute_url }}">{{ blogpost.author }}</a> - {{ blogpost.date }}
    <hr>
    {% if blogpost.comments_set.all %}
        <h4>Comments:</h4>
    {% endif %}
    {% for comments in blogpost.comments_set.all %}
        <ul><strong>Author:</strong>{{ comments.author }}</ul>
        <ul><strong>Description:</strong><p class="breakline">{{ comments.description }}</p></ul>
        <ul>{{ comments.date_time }}</ul>
        <hr>
    {% endfor %}
    <h4>Make a comment:</h4>
    <form action="" method="post">
        {% csrf_token %}
        <table>
        {{ form.as_table }}
        </table>
        <input type="submit" value="Submit">
    </form>
{% endblock %}