{% extends "base_generic.html" %}
{% block title %}
    <title>All-posts</title>
{% endblock title %}

{% block content %}
    <h1>All Blog Posts</h1>
    {% if blogpost_list %}
    <ul>
        {% for post in blogpost_list %}
            <a href="{{ post.get_absolute_url }}"><h4>{{ post.title }}</h4></a>
            <p>By: <a href="{{ blogpost.author.get_absolute_url }}">{{ post.author }}</a> on {{ post.date }}</p>
            <p class="breakline">{{ post.description }}</p>
            <hr>
        {% endfor %}
    </ul>
    {% else %}
        <p>The are no posts yet!</p>
    {% endif %}
{% endblock %}