{% extends "base_generic.html" %}

{% block content %}
    <h1>Mini-Blog Home</h1>
    <p>Welcome to Mini-Blog!</p>
    <p><h2>More Recent posts:</h2></p>
    {% for post in posts %}
        <h4><a href="{{ post.author.get_absolute_url }}">{{ post.author }}</a></h4>
        <h5>{{ post.title }}</h5>
        <p class="breakline">{{ post.description }}</p>
        <p>{{ post.date }}</p>
        {% if post.comments_set.all %}
            <ul><font size="5">Comments:</font></ul>
        {% endif %}
        {% for comments in post.comments_set.all %}
        <ul><strong>Author:</strong>{{ comments.author }}</ul>
        <ul><strong>Description:</strong><p class="breakline">{{ comments.description }}</p></ul>
        <ul>{{ comments.date_time }}</ul>
        <hr>
        {% endfor %}
    {% endfor %}
    </ul>
{% endblock %}